body {
    background-image: url(/Assets/background2.jpeg   );
    background-repeat: no-repeat;
    background-size: cover;
}


img.imgCovers {
    width: 250px; 
    height: 350px; 
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.image-container div{
    text-align: center;
}

.image-container p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 22px;
    text-shadow: 1px 1px 4px #012243;
    color: #e2e2e6;
    text-align: center;
    margin-top: 10px;
    clear: both;
    font-weight: bold;
}
.image-container p:hover{
    color: rgb(32, 27, 55);
    text-decoration: underline;
}

h1 {
    font-size: 30px;
    background-color: rgba(49, 45, 67, 0.5);
    border-radius: 30px;
    text-align: center;
    color: #fcfeff;
    text-shadow: 4px 4px 5px #343d72;
    border-bottom: 4px solid #2e4862;
    padding: 10px, 0;

}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-shadow: 4px 4px 5px #0b7ae9;
    line-height: 40px;
    color: rgb(243, 246, 246);
    text-align: center;
    line-height: 1.5;
    text-decoration: none;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: fixed;
    color: rgb(3, 1, 16);
    line-height: 1.5;
}

p.movies {}

.urls {
    display: block;
    width: fit-content;
    text-align: center;
    font-size: 20px;
    background-color: rgba(132, 132, 164, 0.8);
    border-radius: 30px;
    color: #f6f6f7;
    text-shadow: 4px 4px 5px #32587e;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 25px;
    margin: 0 auto;
}

.urls:hover {
    color: #ffdd57;
}

nav {
    background-color: rgba(4, 16, 43, 0.5);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #132144;
}

nav ul li a:hover {
    color: #ffdd57;
}