body {
    font-family: Arial, sans-serif;
    background-color: white;
    background-image: url(/Assets/Images/Backgrounds/123123.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}

#header {
    background-color: rgba(177, 180, 185, 0.7);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #132144;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffdd57;
}

.header-content {
    text-align: center;
    padding: 0.5rem 0;
    background-color: #040c1a00;
    color: white;
    margin-bottom: 2rem;
}

.header-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4), 0 0 25px #ffdd57, 0 0 5px #ffdd57;
    text-decoration: underline;
}

.header-content p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

#content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
}


.image-container div {
    max-width: 200px;
}

.imgCovers {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.imgCovers:hover {
    transform: scale(1.05);
}

.image-container p {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 4px #012243;
    color: #e2e2e6;
    margin-top: 10px;
    font-weight: bold;
    transition: color 0.3s ease;
    text-align: center;
}

.image-container a {
    text-decoration: none;
}

.image-container p:hover {
    color: #ffdd57;
}



.urls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    background-color: rgba(49, 45, 67, 0.8);
    border-radius: 30px;
    color: #fcfeff;
    text-shadow: 4px 4px 5px #343d72;
    padding: 5px 20px;
    margin: 20px auto;
    width: fit-content;
    text-align: center;
    text-decoration: none;
}

.urls a {
    display: inline-block;
    text-align: center;
    margin: 5px 0;
}
.urls:hover {
    color: #e0ca04;
}

#hero {
    display: grid;
    grid-template-columns: 1fr;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(4, 16, 43, 0.7);
    color: #fff;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .image-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }


    .imgCovers {
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .image-container {
        grid-template-columns: 1fr;
    }


}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  label {
    color: white;
  }

  button {
    padding: 2px;
  }

  button:hover{
    background-color: rgb(91, 130, 197);
  }

  h2{
    font-size: 28px;
    background: linear-gradient(90deg, #07072f, #16213e);
    border-radius: 15px;
    text-align: center;
    color: #f8c471;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    border-bottom: 5px solid #635d07;
    padding: 15px;
    font-family: "Cinematic", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
  }