/* store.css */
.store-section-header {
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(44, 62, 80, 0.85);
    color: white;
    margin: 2rem 0;
    /* Remove any potential border */
    border: none;
    /* Remove any outline */
    outline: none;
}

.store-section-header h2 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    color: #e2e2e6;
    border: none;
    outline: none;
}

.image-container p span.price {
    color: #ffdd57;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.store-item {
    transition: transform 0.3s ease;
}

.store-item:hover {
    transform: scale(1.05);
}

.header-content {
    border: none;
    outline: none;
}
aside{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    color: white;
    padding: 20px;

  }

  aside h3{
    color: #fff;
    border-bottom: 3px solid #635d07;
    padding: 5px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #132144;
    position: relative;
    z-index: 1000;

  }


aside ul li a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #132144;
    display: block;
    padding: 5px;
}
aside ul {
    list-style: none;
    padding: 0;
}

.imgButton{
    filter: brightness(100) saturate(100%) invert(100%) sepia(100%) ;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.imgButton:hover{
    filter:  brightness(100%) saturate(200%) sepia(0%) hue-rotate(45deg);
}


.menu-checkbox {
    display: none;
}


.hamburger-menu {
    position: fixed;
    top: 12px;
    right: 25px;
    font-size: 25px;
    cursor: pointer;
    z-index: 1001;
    color: white;
    padding: 0px 0;
    border-radius: 5px;
}


.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(77, 78, 81, 0.379);
    color: white;
    padding: 20px;
    transition: right 0.3s ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.menu-checkbox:checked + .hamburger-menu + .sidebar {
    right: 0;
}


.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 0;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.sidebar ul li a:hover {
    color: #ffdd57;
}


