.store-section-header {
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(44, 62, 80, 0.85);
    color: white;
    margin: 2rem 0;
    border: none;
    outline: none;
}

.store-section-header h2 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    color: #e2e2e6;
    border: none;
    outline: none;
}

.image-container p span.price {
    color: #ffdd57;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.store-item {
    transition: transform 0.3s ease;
    max-width: 200px;
    text-align: center;
}

.store-item img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.store-item:hover {
    transform: scale(1.05);
}

.header-content {
    border: none;
    outline: none;
}

.imgButton {
    filter: brightness(100) saturate(100%) invert(100%) sepia(100%);
    width: 25px;
    height: 25px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.imgButton:hover {
    filter: brightness(100%) saturate(200%) sepia(0%) hue-rotate(45deg);
}

.menu-checkbox {
    display: none;
}

.hamburger-menu {
    position: fixed;
    top: 12px;
    right: 25px;
    font-size: 25px;
    cursor: pointer;
    z-index: 2002; /* Highest z-index */
    color: white;
    padding: 0px 0;
    border-radius: 5px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .image-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .image-container {
        grid-template-columns: 1fr;
    }
}


